body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    text-align: center;
    background-color: #006634;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    color: white;
}

footer{
    background-color: #006634;
    border: 2px solid transparent;
    border-radius: 20px;
    color: white;
    padding: 10px;
}


#cuadrícula {
    border: 2px solid;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
    border-color: green;
}

#cuadrícula h3{
    display: flex;
    justify-content: center;
}

#cuadrícula form {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

form div{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

form div input{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
}

form div input:hover{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    border-color: #006634;
}

form div input:focus{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    border-color: green;
}


input[type="submit"]{
    background-color: #006634;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 3px;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.curiosidades{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-style: italic;
}

.curiosidades p{
    margin-top: 0;
}

img {
    filter: drop-shadow(0 0 10px white); /* Color y tamaño del borde */
}

#palabra_correcta{
    text-align: center;
}

#hora_andalucía{
    text-align: center;
}


