<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://img.freepik.com/vector-premium/letra-redondeada-degradado-verde-ilustracion-vectorial_875663-61.jpg" type="image/x-icon">
    <title>Andalingo - Aprender andaluz</title>
</head>
<body>
    <article>
        <header>
            <h1 id="título">ANDALINGO</h1>
            <a href="#adivinar"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Wikiproyecto_Andaluc%C3%ADa.png" alt="mapa de andalucía" height="100" width="200"></a>
            <h4 id="subtítulo">Palabras y expresiones típicas andaluzas</h4>
        </header>
    
        <div class="curiosidades">
            <h4>¿Sabías qué?</h4>
            <p id="curiosidad">{{curiosidad}}</p>
        </div>
        <div id="palabra_expresion">
            <button type="submit"><i class="bi bi-shuffle"></i></button><p>{{palabra_correcta}}</p>
        </div>
        <div id="significado">
            <p>Significado: </p>
        </div>
       

        
        
    </article>

    <footer>
        © 2024 Derechos reservados. Web creada por Juan Carlos Pizarro Alonso. <p id="hora_andalucía"></p>
    </footer>
    
    <script src="/static/js/index.js"></script>

</body>
</html>